<div class="row">
    <div class="col-xs-12 p-4">
        <form class="form">
            <div class="row">
                <div class="col-sm-8 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #name>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" #amount>
                </div>
            </div>
            <div class="row container">
                <div class="col-xs-12">
                    <button type="submit" (click)="save()" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger mx-2">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>