<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-xs-12">
        <div *ngFor="let recipe of recipes">
            <a class="nav-link card my-1" style="display: flex;flex-direction: row;justify-content: space-between;width: 300px;">
                <div>
                    <h5>{{recipe.name}}</h5>
                    <p>{{recipe.description}}</p>
                </div>
                <div>
                    <img [src]="recipe.imagePath" class="img-fluid" [alt]="recipe.name" style="max-height: 70px;">
                </div>
            </a>
        </div>
    </div>
</div>


